*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.gradle/
# Miscellaneous
*.log
*.hprof

# External native build
.cxx/
.externalNativeBuild/
cmake-build-*/
gradle-wrapper.jar

# Misc
*.orig
*.swp
*.swo